<!--部分テンプレート　User info-->
<div>
  <h2>User info</h2>

  <!--ここに画像を追加-->

  <table class="table">
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </table>

  <!--ユーザー編集画面へ遷移-->
  <%= link_to "プロフィール編集", edit_user_path %>

</div>