<!--/books画面-->
<h1>this is books/index view</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user, book: @book %>
      <%= render "newbook", user: @user, book: @book %>
    </div>
  </div>
</div>